body {
  margin: 30px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(239, 239, 239); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.home {
  height: 100vh;
  display: grid;
  align-content: center;
  justify-content: center;
  font-style: italic;
}

.name {
  font-family: "Pacifico", cursive;
}

.summary {
  font-size: 110%;
}

.movie-list {
  margin: 20px;
  display: flex;
  flex-direction: row;

  justify-content: space-evenly;
  gap: 20px;
  flex-wrap: wrap;

  overflow: auto;
}

.movie-container {
  width: 300px;
}

.movie-spec {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.movie-poster {
  height: 500px;
  width: 300px;
  object-fit: cover;
}

.addMovies {
  height: 50px;
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 50px;
}

.movie-detail-container {
  max-width: 50rem;
}

.Card {
  display: flex;
  justify-content: center;
}

.color-list {
  display: grid;
  justify-content: center;
}
